<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header.html :: headerfiles">
    </th:block>
</head>
<body>
<div th:fragment="nav">
    <div class="container mt-4">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/"><h1>MeetRoom</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-dark" id="navbarText">
                <ul class="navbar-nav mr-auto"></ul>
                <div th:with="usr=${#httpServletRequest.remoteUser}">
                    <div th:if="${usr}" class="dropdown">
                        <a class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            [[${#httpServletRequest.remoteUser}]]
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" class="btn btn-link btn-sm" aria-haspopup="true" aria-expanded="false" value="Выйти"/>
                            </form>
                        </div>
                    </div>
                    <span th:unless="${usr}">Guest</span>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>

