<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
    <div class="container mt-4" th:fragment="nav">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand logo" href="/"><h1>MeetRoom</h1></a>

            <div class="collapse navbar-collapse navbar-dark" id="navbarText">
                <div th:with="usr=${#httpServletRequest.remoteUser}" class="user-nav">
                    <div th:if="${usr}" class="dropdown user">
                        <a class="btn btn-secondary btn-sm dropdown-toggle user__name" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            [[${#httpServletRequest.remoteUser}]]
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" class="btn btn-link btn-sm" aria-haspopup="true" aria-expanded="false" value="Выйти"/>
                            </form>
                        </div>
                    </div>
                    <span th:unless="${usr}">Guest</span>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>

